body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	font-size: 120%;
	line-height: 1.5;
}

p {
	text-align: justify;
	margin: 20px 0;
}

nav a {
    color: #F2FFFC;
    text-transform: lowercase;
}

main a {
    color: #851944;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

h2 {
    font-size: 30px;
}

article{
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #CCC;
}

#main-footer {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
}

.quotations {
	background-color: #D9E5E3;
	border: 10px solid #C2CCCA;
	width: 250px;
	box-sizing: border-box;
	margin: 20px 40px;
    padding: 20px;
}

.title{
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

.main-title{
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 25px;
    border-bottom: 10px solid black;
    font-size: 60px;
    text-transform: uppercase;
}

.site-navigation {
	background-color: #3C1D3D;
	color: #F2FFFC;
    padding: 20px;
    text-align: center;
}

.body-text {
	width: 720px;
	margin: auto;
	padding: 30px 0;
}

.nav-title {
	font-size: 30px;
	margin-bottom: 25px;
}

.icones-sociais li{
	display: inline-block;
}

.link-read-more{
    font-size: 24px;
    padding: 8px;
    margin: 16px;
    display: block;
    text-align: center;
    background-color: #E6E7E8;
}

.icones-sociais a{
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -99999px;
}

.github{
    background-image: url(github.png);
}

.twitter {
    background-image: url(twitter.png);
}

.linkedin {
    background-image: url(linkedin.png);
}
